<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">


    <title></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Customer Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/customer">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kota">Kota</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Button trigger modal -->


<!-- Modal Create -->
<div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/customer}" th:object="${customerinput}" method="post">
            <div class="modal-body">

                    <div class="form-group">
                        <label>Customer Id</label>
                        <input type="text" class="form-control" value="James Carrot" th:value="${newid}" th:field="*{cust_id}" required readonly>
                    </div>
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" th:field="*{nama}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Kota</label>
                        <select class="form-control" id="exampleFormControlSelect1" th:field="*{id_kota}">
                            <option th:each="kota : ${kota}"
                                    th:value="${kota.id_kota}"
                                    th:text="${kota.nama}">Wireframe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <input type="text" th:field="*{alamat}" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>pendapatan</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Rp.</span>
                            </div>
                            <input type="number" th:field="*{pendapatan}" class="form-control"  required>
                        </div>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"
                        th:data-confirm-create="|Are you sure you want to create this customer?|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-create'))) return false"
                >Tambah Customer</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Modal Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/customer}" th:object="${customerinput}" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Customer Id</label>
                        <input readonly type="text" class="form-control" name="cust_id" th:field="*{cust_id}" required>
                    </div>
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" name="nama" th:field="*{nama}" required pattern="[a-zA-Z\s]">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Kota</label>
                        <select class="form-control" id="exampleFormControlSelect2" name="id_kota" th:field="*{id_kota}">
                            <option th:each="kota : ${kota}"
                                    th:value="${kota.id_kota}"
                                    th:text="${kota.nama}">Wireframe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <input type="text" name="alamat" th:field="*{alamat}" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>pendapatan</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Rp.</span>
                            </div>
                            <input name="alamat" type="number" th:field="*{pendapatan}" class="form-control"  required>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"
                        th:data-confirm-update="|Are you sure you want to Update this customer?|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-update'))) return false"
                >Update Customer</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="container p-5">


    <button type="button" class="btn btn-primary mb-5" data-toggle="modal" data-target="#createmodal" th:attr="onclick=|getid('${newid}')|">
        Tambah Customer
    </button>

    <a href="/customer/pdf" class="btn btn-success mb-5">Download Laporan Pdf</a>

    <table class="table table-striped table-bordered mt-5" id="myTable">
        <thead>
        <tr>
            <th scope="col">CUST ID</th>
            <th scope="col">Nama</th>
            <th scope="col">Alamat</th>
            <th scope="col">ID Kota</th>
            <th scope="col">Pendapatan</th>
            <th scope="col">Aksi</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="customer : ${customer}">
            <td th:text="${customer.cust_id}"></td>
            <td th:text="${customer.nama}"></td>
            <td th:text="${customer.alamat}"></td>
            <td th:text="${customer.id_kota.nama}"></td>
            <td th:text="Rp + '  ' + ${#numbers.formatDecimal(customer.pendapatan,0,'COMMA',2,'POINT')}"></td>
            <td>
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editmodal" th:attr="onclick=|edit('${customer.cust_id}')|">
                    Edit Customer
                </button>
                <a th:href="${'/customer/delete/' + customer.cust_id}"
                   th:data-confirm-delete="|Are you sure you want to delete this customer ${customer.nama}?|"
                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                   class="btn btn-sm btn-danger">Hapus</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
    $('#myTable').DataTable();
    } );
</script>

<script type="text/javascript">

    function getid(id){
    document.getElementById("cust_id").value= id;
    }

	function edit(id) {
		let url_target = `customer/${id}`;
		$.getJSON(url_target, function(data) {
			$("#editmodal").find("input","select").val(function(index, value) {
				return ['_method', '_token', 'password'].includes(this.name) ? value : (data[this.name]);
			});
            $("#editmodal input[name=cust_id]").val(data.cust_id)
            $("#editmodal input[name=username]").val(data.nama)
            $("#editmodal select[name=id_kota]").val(data.id_kota)
            $("#editmodal input[name=alamat]").val(data.alamat)
            $("#editmodal input[name=pendapatan]").val(data.pendapatan)


			$("#editmodal").modal();

		});
	}
</script>

</body>
</html>