<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">


    <title></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Customer Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/customer">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kota">Kota</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Button trigger modal -->


<!-- Modal Create -->
<div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/kota}" th:object="${kotainput}" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Customer Id</label>
                        <input type="text" class="form-control" value="James Carrot" th:value="${newid}" th:field="*{id_kota}" required readonly>
                    </div>
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" th:field="*{nama}" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Tambah Kota</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Modal Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/kota}" th:object="${kotainput}" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Customer Id</label>
                        <input readonly type="text" class="form-control" name="id_kota" th:field="*{id_kota}" required>
                    </div>
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" name="nama" th:field="*{nama}" required>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Kota</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container p-5">

<!--    <h1 th:text="${newid}"></h1>-->
    <button type="button" class="btn btn-primary mb-5" data-toggle="modal" data-target="#createmodal" th:attr="onclick=|getid('${newid}')|">
        Tambah Customer
    </button>

<!--    <a href="#" class="btn btn-success mb-5">Download Laporan Pdf</a>-->

    <table class="table table-striped table-bordered mt-5" id="myTable">
        <thead>
        <tr>
            <th scope="col">ID KOTA</th>
            <th scope="col">Nama</th>
            <th scope="col">Aksi</th>


        </tr>
        </thead>
        <tbody>

        <tr th:each="kota : ${kota}">
            <td th:text="${kota.id_kota}"></td>
            <td th:text="${kota.nama}"></td>
            <td>
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editmodal" th:attr="onclick=|edit('${kota.id_kota}')|">
                    Edit Customer
                </button>
                <a th:href="${'/kota/delete/' + kota.id_kota}" class="btn btn-sm btn-danger">Hapus</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
    $('#myTable').DataTable();
    } );
</script>

<script type="text/javascript">

    function getid(id){
    document.getElementById("id_kota").value= id;
    }

	function edit(id) {
		let url_target = `kota/${id}`;
		$.getJSON(url_target, function(data) {
			$("#editmodal").find("input","select").val(function(index, value) {
				return ['_method', '_token', 'password'].includes(this.name) ? value : (data[this.name]);
			});
            $("#editmodal input[name=id_kota]").val(data.id_kota)
            $("#editmodal input[name=nama]").val(data.nama)
			$("#editmodal").modal();

		});
	}
</script>

</body>
</html>